<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>App Store</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <!-- <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script> -->

    <script src="https://unpkg.com/vue"></script>

    <style>

    html {
      font-size: 11px;
      text-shadow: 1px 1px 1px #ffffff;
    }

    body {
      background: linear-gradient(135deg, #d2e3de 0%,#dee0d6 100%);
    }

    nav, .card, .alert {
      box-shadow: 5px 5px 15px rgba(0,0,0,0.1);
    }

    </style>

  </head>


  <body>

    <nav class="navbar navbar-toggleable-sm navbar-light bg-faded">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>


      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">Installed <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Package Name">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>

    <div class="container">

      <div class="row p-3">
        <div class="col p-3">
          <br>
        </div>
      </div>

      <div class="row">


        <div id="app-title" class="col">

          <h1 class="display-4">{{name}}</h1>
          <p class="lead">
            {{description}}
          </p>

        </div>


        <div class="col p-3">
          <div class="alert alert-success" role="alert">
            <strong>Installing Updates!</strong> Package 12/43
            <div class="progress my-1">
              <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="row p-3">
        <div class="col p-3">
          <br>
        </div>
      </div>

      <div class="row">
        <div class="col">
          Productivity
          <hr>
        </div>
      </div>




      <div class="row" id="app-packages">





          <div class="col col-sm-4 pb-3" v-for="package in packages">


            <div class="card">
              <img class="card-img-top img-fluid" src="images/test-app.png" alt="Card image cap">
              <div class="ard-block p-3">
                <h4 class="card-title">{{ package.name }}</h4>
                <p class="card-text">{{ package.description }}</p>
                <a href="#" class="btn btn-primary" v-on:click="install(package)">{{ package.buttonLabel }}</a>


                <div v-if="package.progressBar" class="progress my-1">
                  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
                </div>
              </div>
            </div>

          </div>

        </div>






      </div>






    </div>




  </body>

  <script>
    // You can also require other files to run in this process
    // $(function(){
    //
    //
    // })

    require('./renderer.js');

  </script>

</html>
